*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

header {
    height: 120px;
    width: 100%;
    background-color: #a52a2a;
    position:fixed;
    top:0;
    left:0;
    }
   
  
.bg-g {
        padding:5px;
        height: 120px;
        width: 100px;
        float: left;
        background-image: url(../images/Background/BgTitle.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        
    }
    nav {
        padding:10px;
        display:flex;
        justify-content: space-between;
        line-height: 120px;
        
    }
    ul {
        list-style-type: none;
    }
    li{
        flex-direction: row;
    }
    .Fullvh-slide{
        background-image: url(../images/Background/LandingIntro.png);
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:80vh;
    }

    .Fullvh-slide--second{
        background-image: url(../images/Background/SlidesPosts.png);
        background-repeat: no-repeat;
        background-size:Cover;
        /*height:60%;*/
        width:100%;
        height:100vh;
    }
    #Bg-Main-1st-section > h1 {
         margin: 20px;
        
    }
    .wrapper-1st-section p{
        margin: 80px;
    }