  @font-face {
      font-family:'HVD_Bodedo';
      src: url('./assets/fonts/HDV_Bodedo-webfont.woff') format('woff');
      font-style: normal;
      font-weight:normal;
  }
  @font-face {
      font-family:'Booter-Zero One';
      src: url('./assets/fonts/BooterZerOne-x9r.ttf') format('ttf');
      font-style: normal;
      font-weight: normal;
  }
  @@font-face {
    font-family: 'rapscallionregular';
    src: url('RAPSCALL-webfont.eot');
    src: url('RAPSCALL-webfont.eot?#iefix') format('embedded-opentype'),
         url('RAPSCALL-webfont.woff2') format('woff2'),
         url('RAPSCALL-webfont.woff') format('woff'),
         url('RAPSCALL-webfont.ttf') format('truetype'),
         url('RAPSCALL-webfont.svg#rapscallionregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

header {
    height: 120px;
    width: 100%;
    background-color: #a52a2a;
    position:fixed;
    top:0;
    left:0;
    font-family:'rapscallionregular';
    }
   
  
.bg-g {
        padding:5px;
        height: 120px;
        width: 100px;
        float: left;
        background-image: url(../images/Background/BgTitle.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        
    }
    .nav-menu {
        
        padding:10px;
        display:flex;
        justify-content:space-around;
        line-height: 120px;
        text-decoration: None;
        font-family:'Monospace';
         }

         .menu-link{
         display:flex;
         justify-content:space-evenly;
         line-height:120px;
         /*margin-left: 50px;*/
         color:whitesmoke;
         }
    .logo{
        font-family:'Monospace';
        text-decoration: None;
        font-size:25px;
        margin-right:80px;
        color:whitesmoke;

    }
    ul {
        list-style-type: None;
        text-decoration: None;
    }
    li{
        flex-direction: row;
    }
    .Fullvh-slide{
        background-image: url(../images/Background/LandingIntro.png);
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:80vh;
    }

    .Fullvh-slide--second{
        background-image: url(../images/Background/SlidesPosts.png);
        background-repeat: no-repeat;
        background-size:Cover;
        /*height:60%;*/
        width:100%;
        height:100vh;
    }
    .Fullvh-slide Fullvh-slide--second > h1 {
         margin: 20px;
        
    }
    .wrapper-1st-section p{
        margin: 80px;
    }

    h1{
        font-family:'rapscallionregular';
        text-align:center;
        padding:20px;
    }